/*--------------------------------------------*

Universal Styling

/*--------------------------------------------*/

* {
  margin:0;
  padding:0;
  border:0;
}

@font-face{
font-family: "finkheavy"
src: url('../fonts/FinkHeavy.ttf') format('truetype');
}

/*--------------------------------------------*

Header Styling

/*--------------------------------------------*/

header {
  background-color:white;
  height:110px;
  width:100%;
  padding:30px 700px;
  position:fixed;
  z-index:9999;

}

.logo {
  width:150px;
  height:150px;
  position:fixed;
  z-index:99999;

}

/*--------------------------------------------*

Welcome Styling

/*--------------------------------------------*/


h1 {
font-family:'finkheavy';
font-size: 100px;
color:lightgreen;
position: absolute
float:left;
padding-top: 300px;
}

.bank {
  font-size:125px;
  margin-right:500px;
  margin-top:100px;
  position:absolute;
}

.welcome {
  background-image: url('../images/backgroundac.jpg');
  padding-bottom: 400px;
  position:relative;
}
.nook {
  width:500px;
  height:500px;
  float:right;

}

.bell {
  position:absolute;
  margin-left: 50px;
  animation-name: coin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bell2 {
  position:absolute;
  margin-left: 150px;
  animation-name: coin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  animation-timing-function: linear;
}

.bell3 {
    position:absolute;
    margin-left: 1250px;
    animation-name: coin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bell4 {
  position:absolute;
  margin-left: 1350px;
  animation-name: coin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  animation-timing-function: linear;
}
/*--------------------------------------------*

Nook Image Styling

/*--------------------------------------------*/

.heronook {
  padding:125px;
  margin:auto;
}


/*--------------------------------------------*

Options Styling

/*--------------------------------------------*/

li {
  font-family:'finkheavy';
  font-size: 50px;
  color:darkgreen;
  display:inline;
}


@keyframes coin {
  from {
    transform:translateY(0px);
}

  to {
    transform:translateY(700px);
  }
