/*--------------------------------------------*

Universal Styling

/*--------------------------------------------*/

* {
  margin:0;
  padding:0;
  border:0;
}

@font-face{
font-family: "finkheavy"
src: url('../fonts/FinkHeavy.ttf') format('truetype');
}

/*--------------------------------------------*

Header Styling

/*--------------------------------------------*/

header {
  background-color:white;
  height:110px;
  width:100%;
  padding:30px 700px;
  position:fixed;
  z-index:9999;

}

.logo {
  width:150px;
  height:150px;
  position:fixed;
  z-index:99999;

}

/*--------------------------------------------*

Welcome Styling

/*--------------------------------------------*/


h1 {
  font-family:'finkheavy';
  font-size: 100px;
  color:lightgreen;
  position: absolute
  float:left;
  padding: 300px 0px 0px 200px;
  z-index:49;
}

.bank {
  font-size:125px;
  margin:100px 500px 0px 0px;
  position:relative;
  z-index:99;
}

.welcome {
  background-image: url('../images/backgroundac.jpg');
  padding-bottom: 100px;
  position:relative;
}
.nook {
  width:500px;
  height:500px;
  margin:175px 0px 0px 900px;
  position: absolute;
  z-index:50;


}

.bell {
  position:absolute;
  margin-left: 50px;
  animation-name: coin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bell2 {
  position:absolute;
  margin-left: 150px;
  z-index:100;
  animation-name: coin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  animation-timing-function: linear;
}

.bell3 {
    position:absolute;
    margin-left: 1250px;
    animation-name: coin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index:51;
}

.bell4 {
  position:absolute;
  margin-left: 1350px;
  animation-name: coin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  animation-timing-function: linear;
}
/*--------------------------------------------*

Nook Image Styling

/*--------------------------------------------*/

.heronook {
  padding:10px 125px;
  margin:auto;
}


/*--------------------------------------------*

Options Styling

/*--------------------------------------------*/

li {
  font-family:'finkheavy';
  font-size: 35px;
  color:darkgreen;
  display:inline;
  background-color: lightgray;
  padding:50px 100px;
}

.options {
    padding: 10px 10px;
    margin:50px 0px 0px 10px;

}

li:hover {
  background-color:lightgreen;
}





@keyframes coin {
  from {
    transform:translateY(0px);
}

  to {
    transform:translateY(700px);
  }
